body {
    font-family: Lato;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    padding: 0;
}

header {
    z-index: 10;
    height: 50px;
    background-color: #383838;
    top: 0;
    position: fixed;
    width: 100%;
}

#side-nav {
    background-color: #555;
    z-index: 9;
    height: 100%;
    position: fixed;
    left: 0;
    width: 50px;
    top: 50px;
}

#side-nav div {
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

.selected-button {
    background-color: #43CB3F;
}

#side-nav img {
    padding-top: 10px;
    padding-left: 10px;
}

#side-nav div:hover {
    background-color: #43CB3F;
}

ul {
    padding-left: 0px;
}

li {
    display: inline-block;
    /*	border: 1px solid black;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 300;
    color: white;
}

img {
    margin: 1px;
}

h1 {
    font-size: 24px;
    line-height: 14px;
}

h3 {
    font-size: 20px;
    line-height: 0px;
    font-weight: 400;
}

#carmera {
    font-size: 24px;
    color: #FFF;
    line-height: 24px;
    font-weight: 300;
    padding: 13px 0;
    vertical-align: top;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
}

#dataExplorer {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    color: #FFF;
    vertical-align: middle;
}

#beta {
    color: #f58e26;
    font-weight: 500;
}

.logo {
    width: 80px;
    height: 50px;
    background-image: url("img/carmera.png");
    background-size: 60px 26px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.content-wrapper {
    /*	display: flex;*/
    transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-width .3s linear;
}

#mapbox {
    width: 40%;
    float: left;
    position: fixed;
    background-color: orange;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin-top: 50px;
    /*  width:100%;*/
}

#image-annotated {
    width: 77%;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    margin-top: 50px;
}

#image-annotated img {
    margin: 0;
}

#note_box {
    outline: none;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
    font-size: 18px;
    font-family: "lato";
}

#moreInfoWrapper {
    width: 25%;
    float: right;
    position: relative;
    background-color: #F6F6F6;
    min-height: 100vh;
    margin-top: 50px;
    top: 50px;
    overflow: hidden;
}

#moreInfoWrapper a {
    font-weight: 400;
    font-family: Lato;
    font-size: 20px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

#informationWrapper {
    /*	flex: 0 1 60%;*/
    width: 60%;
    float: right;
    position: relative;
    background-color: #F6F6F6;
    min-height: 100vh;
    margin-top: 50px;
}

#imageWrap {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
}

.sub-content-wrapper {
    margin: 20px;
    margin-top: 6px;
    display: flex;
    border-bottom: 0.5px rgba(0, 0, 0, 0.1) solid;
    padding-bottom: 20px;
}

.tag-wrapper {
    margin: 20px;
    margin-bottom: 50px;
}

#area-content {
    flex: 0 1 50%;
}

#time {
    flex: 0 1 50%;
}

#sug li {
    background-color: #39BFFE;
}

#sel li {
    background-color: #F5A623;
}

button {
    font-weight: 400;
    font-family: Lato;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
}

#moreInfoWrapper a {
    font-weight: 400;
    font-family: Lato;
    color: white;
    text-align: center;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.save {
    background-color: #43CB40;
    width: 30%;
    height: 40px;
    margin-top: 5px;
    bottom: 0;
    position: fixed;
}

.cancel {
    background-color: #8F8F8F;
    width: 30%;
    height: 40px;
    margin-top: 5px;
    bottom: 0;
    position: fixed;
    right: 0
}

.filter {
    background-color: #39BFFE;
    width: 120px;
    height: 30px;
    float: right;
    font-size: 15px;
    border-radius: 25px;
    margin-right: 30px;
    position: fixed;
    margin-top: 10px;
    margin-bottom: 10px;
    right: 0;
}

#results {
    top: 0px;
    width: 25%;
    /*	right: 0;*/
    background-color: gray;
    position: absolute;
    color: white;
    font-weight: 400;
    position: fixed;
    padding-top: 50px;
}

#results p {
    display: inline-block;
    padding-left: 30px;
}

#tags {
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sensor-data {
    background-color: white;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#drawing_pad {
    position: absolute;
    height: 100%;
    width: 100%;
}

#tagging_area {
    position: absolute;
    height: 100%;
    width: 100%;
}

.lazy {
    width: 210px;
    height: 210px;
}

#results p {
    display: inline-block;
    padding-left: 30px;
}

#tags {
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sensor-data {
    background-color: white;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hover-info p {
    text-decoration: none;
    color: white;
    margin: 0;
}

.hover-info {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.overlay {
    position: absolute;
    background-color: black;
    width: 210px;
    height: 210px;
    margin-left: 1px;
    opacity: 0.6;
}

.hover-wrapper {
    opacity: 0.0;
    position: absolute;
    width: 210px;
    height: 210px;
    transition: 0.3s;
}

#tags {
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sensor-data {
    background-color: white;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}