<!DOCTYPE html>

<html>

<head>
    <title>Carmera</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lazyload.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/raphael-2.0.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/raphael.sketchpad.js') }}"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo"></div>
            <div id="carmera">Carmera <span id="dataExplorer">Data Explorer <span id="beta">Beta</span></span>
            </div>
        </nav>
    </header>

    <div id="side-nav">
        <div><img src="{{ url_for('static', filename='css/img/tag.png') }}" width="60%"></div>
        <div><img src="{{ url_for('static', filename='css/img/mark.png') }}" width="60%" onclick="tagging();"></div>
    </div>

    <div id="image-annotated">
        <div id="drawing_pad"></div> {% for image in images %}
        <img src="{{ url_for('pictures', filename='%s.jpg'%(image.image_id))}}" id="{{image.image_id}}" style="width:100%;" /> {% endfor %}
    </div>

    <div id="moreInfoWrapper">
    <div id="results"></div>
        <div id="tags"><span>Tags +</span>
        <div id="sug" style="display: none;">
    <ul id="suggested_tags_list" class="tags">
                            {% for tag in all_tags %}
                            <li class="suggested_tag">{{'%s' % tag}}</li>
                            {% endfor %}
                        </ul>        </div>
                           </div>
        <div id="sensor-data"><span>Sensor Data +</span>
        <div id="sensor-data-item" style="display: none;">
        {% for image in images %}
        <div style = "width: 85%;">{{image.json}}</div>
        {% endfor %}
        </div>
        </div>
        <p style="padding-left: 20px; text-align: center; font-weight: bold;">Notes:</p>
        <input type="text" style="height: 200px; position: absolute; width: 100%; margin: 5px;">
        <a class="save" href="http://localhost:5000/" style = "width: 12.5%; font-size: 15px;">Save</a><a class="cancel" href="http://localhost:5000/" style = "width: 12.5%; font-size: 15px;">Cancel</a>
        </div>

    <script>
        jQuery.browser = {};
        (function() {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
        var sketchpad = Raphael.sketchpad("drawing_pad", {
            width: "100%",
            height: "100%",
            editing: false
        });
        // When the sketchpad changes, update the input field.
        sketchpad.change(function() {
            $("#data").val(sketchpad.json());
        });

        sketchpad.pen().color("#f58b26");
        sketchpad.pen().width(5);


        function tagging() {
            if (!sketchpad.editing()) {
                sketchpad.editing(true);
            } else {
                sketchpad.editing(false);
            }
        }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/annotation_page.js') }}"></script>

</body>

</html>