<!DOCTYPE html>

<html>

<head>
    <title>Carmera</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lazyload.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
</head>

<body>
    <header>
        <nav>
            <div class="logo"></div>
            <div id="carmera">Carmera <span id="dataExplorer">Data Explorer <span id="beta">Beta</span></span>
            </div>
        </nav>
    </header>
    <div id="side-nav"></div>

    <div class="content-wrapper">
        <div id="mapbox"></div>
        <div id="informationWrapper">
            <div id="imageWrap">
                {% for image in images %}
                <a id="a_{{image.image_id}}" href="/annotate/{{image.image_id}}">
                    <img class="lazy" data-original="{{ url_for('pictures', filename='%s.jpg'%(image.image_id))}}" id="{{image.image_id}}" />
                </a>{% endfor %}
            </div>
            <div id="infoWrap">
                <div class="sub-content-wrapper">
                    <div id="area-content">
                        <div id="area">
                            <h1>Area</h1>
                            <h3>Select...</h3>
                            <form>
                                <input type="radio" name="area" value="region" checked> A region on a map<br>
                                <input type="radio" name="area" value="radius"> An address: <input type="text" name="addressname"> and radius: <input type="text" name="radiusname"><br>
                                <input type="radio" name="area" value="city"> A city<br>
                                <input type="radio" name="area" value="neighborhood"> A neighborhood
                            </form>
                        </div>
                        <div id="content">
                            <h1>Content</h1>
                            <form>
                                <input type="checkbox" name="image" value="jpg" id="img"><label for="img"> Image</label><br>
                                <input type="checkbox" name="video" value="mp4" id="vid"><label for="vid"> Video</label>
                            </form>
                        </div>

                    </div>
                    <div id="time">
                        <h1>Time</h1>
                        <div id="date">
                            <h3>Date</h3>
                            <form>
                                <input type="radio" name="area" value="single" checked> Single day: <input type="text" name="singleday"><br>
                                <input type="radio" name="area" value="90"> Last 90 days<br>
                                <input type="radio" name="area" value="30"> Last 30 days<br>
                                <input type="radio" name="area" value="7"> Last 7 days<br>
                                <input type="radio" name="area" value="range"> <input type="text" name="dayone"> to <input type="text" name="daytwo">
                            </form>
                        </div>
                        <div id="time-of-day">
                            <h3>Time of Day</h3>
                            <form>
                                <input type="checkbox" name="Morning" value="morning" id="time_morning">
                                <label for="morning"> Morning (5:00am-11:00am)</label><br>
                                <input type="checkbox" name="Noon" value="noon" id="time_noon">
                                <label for="noon"> Noon (11:00am-2:00pm)</label><br>
                                <input type="checkbox" name="Afternoon" value="afternoon" id="time_afternoon">
                                <label for="afternoon"> Afternoon (2:00am-5:00pm)</label><br>
                                <input type="checkbox" name="Evening" value="evening" id="time_evening">
                                <label for="evening"> Evening (5:00pm-9:00pm)</label><br>
                                <input type="checkbox" name="Night" value="night" id="time_night">
                                <label for="night"> Night (9:00pm-5:00am)</label>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="tag-wrapper">
                    <h1>Tags</h1>
                    <input type="text" name="taginfo"><br>
                    <div id="sug">
                        <h3>Suggested Tags</h3>
                        <ul id="suggested_tags_list" class="tags">
                            {% for tag in all_tags %}
                            <li class="suggested_tag">{{'%s +' % tag}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="sel">
                        <h3>Selected Tags</h3>
                        <ul id="selected_tags_list" class="tags">
                            {% for tag in all_tags %}
                            <li class="selected_tag">{{'%s -' % tag}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <button class="save">Save Changes</button><button class="cancel">Cancel</button>

            </div>
            <div id="results" style="display: none;">
                <p id="num_results">5,000+ Results</p><button class="filter">Filter Options</button></div>

        </div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiamFtZXNjbHllaCIsImEiOiJjaXVqN2NpdzkwMGF6MnVucXlvdzJpODdiIn0.Ag-NcIZ9BEc_79IczpLVEg';
        //var map = new L.Map({
        //  container: 'mapbox', // container id
        //  style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
        //  center: [-74.0016876, 40.7409227], // starting position
        //  zoom: 15 // starting zoom
        //});
        var images = {{data | tojson}};
        var map = L.mapbox.map('mapbox', 'mapbox.streets').setView([40.7409227, -74.0016876], 20);
        var markerLayer;
        var markers;

        $(document).ready(function() {
            $('#num_results').text(images.length + ' Results');
            $('#imageWrap').hide();
            updateMarker(images);
            $(function() {
                $("img.lazy").lazyload();
            });

            $(".lazy").hover(function(e) {
                markers[e.currentTarget.id].setIcon(
                    L.mapbox.marker.icon({
                        'marker-color': '#f58b26'
                    }));
            }, function(e) {
                markers[e.currentTarget.id].setIcon(
                    L.mapbox.marker.icon({
                        'marker-color': '#63b6e5'
                    }));
            });

            $("#selected_tags_list li").hide();
            $("li.suggested_tag").click(function() {
                var tag_name = $(this).html().slice(0, -2);
                console.log(tag_name)
                $("#selected_tags_list li").each(function() {
                    var liText = $(this).text();
                    if (liText.indexOf(tag_name) == 0)
                        $(this).show();
                });
                $(this).hide();
            });

            $("li.selected_tag").click(function() {
                var tag_name = $(this).html().slice(0, -2);
                $("#suggested_tags_list li").each(function() {
                    var liText = $(this).text().slice(0, -2);
                    console.log(liText);
                    console.log(liText.indexOf(tag_name))
                    if (liText.indexOf(tag_name) == 0)
                        $(this).show();
                });
                $(this).hide();
            });

            $(".save").click(function() {
                info.style.display = "none";
                results.style.display = "block";
                filterByTags();
            });
        });

        function filterByTags() {
            var selected = []
            $("#selected_tags_list li").each(
                function() {
                    if ($(this).css('display') != 'none') {
                        selected.push($(this).text().slice(0, -2));
                    }
                });
            if (selected.length == 1 && (selected[0] == 'car' || selected[0] == 'person')) {
                $.ajax({
                    type: "POST",
                    url: 'http://localhost:5000/filterByTag?tags=' + selected.join(),
                    success: function(result) {
                        images = JSON.parse(result);
                        updateHeatmap(images, selected[0]);
                        updateImages(images);
                        $('#imageWrap').show();
                    },
                    async: true
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: 'http://localhost:5000/filterByTag?tags=' + selected.join(),
                    success: function(result) {
                        images = JSON.parse(result);
                        $('#num_results').text(images.length + ' Results');
                        updateMarker(images);
                        updateImages(images);
                        $('#imageWrap').show();
                    },
                    async: true
                });
            }

        }

        function updateHeatmap(images, tag_name) {
            if (markerLayer != null) {
                map.removeLayer(markerLayer)
            }
            var geocodes = []
            for (i = 0; i < images.length; i++) {
                for (j = 0; j < images[i]['tags'].length; j++) {
                    if (images[i]['tags'][j].tag == tag_name) {
                        geocodes.push([images[i]['lat'], images[i]['lon']]);
                    }
                }
            }
            markerLayer = L.heatLayer(geocodes, {
                max: 15
            }).addTo(map);
        }

        function aggregateTags(index) {
            var agg = {};
            for (i = 0; i < images[index].tags.length; i++)
                if (!(images[index].tags[i].tag in agg)) {
                    agg[images[index].tags[i].tag] = 1;
                } else {
                    agg[images[index].tags[i].tag] += 1;
                }
            return agg;
        }

        function tagCountToStr(aggregate) {
            content = '';
            for (var k in aggregate) {
                content += k + ': ' + aggregate[k] + '\n';
            }
            return content;
        }

        function updateMarker(images) {
            if (markerLayer != null) {
                map.removeLayer(markerLayer)
            }
            var geocodes = []
            for (i = 0; i < images.length; i++) {
                geocodes.push({
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [images[i]['lon'], images[i]['lat']]
                    },
                    properties: {
                        'marker-color': '#63b6e5',
                        'id': images[i].id,
                        'index': i
                    }
                })
            }
            markerLayer = L.mapbox.featureLayer().setGeoJSON(geocodes).addTo(map);

            markers = {};
            markerLayer.eachLayer(function(marker) {
                markers[marker.feature.properties.id] = marker;
            });

            markerLayer.on('mouseover', function(e) {
                var coordinates = e.layer.feature.geometry.coordinates;
                var swapped_coordinates = [coordinates[1] + 0.0001, coordinates[0]]; //Swap Lat and Lng
                if (map) {
                    layerPopup = L.popup()
                        .setLatLng(swapped_coordinates)
                        .setContent(tagCountToStr(aggregateTags(e.layer.feature.properties.index)))
                        .openOn(map);

                    document.getElementById(e.layer.feature.properties.id).scrollIntoView();
                    document.getElementById(e.layer.feature.properties.id).style.opacity = "0.5";
                    document.body.scrollTop -= 200;

                    e.layer.setIcon(
                        L.mapbox.marker.icon({
                            'marker-color': '#f58b26'
                        }));
                }
            });

            markerLayer.on('mouseout', function(e) {
                if (layerPopup && map) {
                    //map.closePopup(layerPopup);
                    //layerPopup = null;
                    document.getElementById(e.layer.feature.properties.id).style.opacity = "1.0";
                    e.layer.setIcon(
                        L.mapbox.marker.icon({
                            'marker-color': '#63b6e5'
                        }));
                }
            });
        }

        function updateImages(images) {
            $("#imageWrap").children('a').each(function() {
                $(this).hide();
            });
            for (i = 0; i < images.length; i++) {
                $("#a_" + images[i].id).show();
            }
        }
    </script>
</body>

</html>